.header-font {
    font-family: 'Tangerine', cursive;
    font-size: 4rem; /* Increase font size */
}
.navbar-nav .nav-link {
    color: black !important;
}
a.navbar-brand {
    color: black !important;
}
button.navbar-toggler {
    background-color: transparent !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.paragraph-font {
    font-family: 'Arial', sans-serif; /* Ensure consistent font for paragraphs */
    font-size: 1rem; /* Ensure consistent font size for paragraphs */
}

/*Media Queries*/

/*Small screens and up*/
@media screen and (max-width: 576px) {
    .header-font {
        font-size: 3rem; /* Decrease font size */
    }
    .paragraph-font {
        font-size: 0.8rem; /* Decrease font size */
    }
    
}

/**Medium screens and up**/
@media screen and (max-width: 768px) {
    .header-font {
        font-size: 2rem; /* Decrease font size */
    }
    .paragraph-font {
        font-size: 0.8rem; /* Decrease font size */
    }
    
}
/*Large screens and up*/
@media screen and (min-width: 992px) {
    .header-font {
        font-size: 5rem; /* Increase font size */
    }
    .paragraph-font {
        font-size: 1.2rem; /* Increase font size */
    }
}
    
/*Extra large screens and up*/
@media screen and (min-width: 1200px) {
    .header-font {
        font-size: 6rem; /* Increase font size */
    }
    .paragraph-font {
        font-size: 1.5rem; /* Increase font size */
    }
    
}

/*xxl device (large desktops, 1400px and up*/
@media screen and (min-width: 1400px) {
    .header-font {
        font-size: 7rem; /* Increase font size */
    }
    .paragraph-font {
        font-size: 1.8rem; /* Increase font size */
    }
}